<h2> ======================================================</h2>
 <h1>MA477 - Theory and Applications of Data Science</h1> 
  <h1>Homework 2: Pandas</h1> 
 
 <h4>Dr. Valmir Bucaj</h4>
 <br>
 United States Military Academy, West Point, AY20-2
<h2>=======================================================</h2>

<font size='4'>Complete the following tasks:</font>

<hr style="height:2px;border:none;color:#333;background-color:#333;" />

<h4> Import Pandas and Numpy</h4>

In [1]:
#Enter your code here
import pandas as pd
import numpy as np

<h4>Read-in the file named <font color='red'>Airbnb_Dataset</font> and assign it to a variable names <font color='red'>abnb</font></h4>(Make sure that the file is in the same folder as your Homework2 JupyterNotebook)

In [2]:
abnb=pd.read_excel('Airbnb_Dataset.xlsx')

<h4> Show the head of the dataframe</h4>

In [3]:
#Your code goes here
abnb.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

<h4> Find how many different neighborhoods are there in Manhattan and list all of them?

In [12]:
#Answer for number of different neighborhoods in Manhattan
abnb[abnb['neighbourhood_group']=='Manhattan']['neighbourhood'].nunique()

32

In [11]:
#Your answer for the list of all different neighborhoods in Manhattan
abnb[abnb['neighbourhood_group']=='Manhattan']['neighbourhood'].unique()

array(['Midtown', 'Harlem', 'East Harlem', 'Murray Hill',
       "Hell's Kitchen", 'Upper West Side', 'Chinatown', 'West Village',
       'Chelsea', 'Inwood', 'East Village', 'Lower East Side', 'Kips Bay',
       'SoHo', 'Upper East Side', 'Washington Heights',
       'Financial District', 'Morningside Heights', 'NoHo',
       'Flatiron District', 'Roosevelt Island', 'Greenwich Village',
       'Little Italy', 'Two Bridges', 'Nolita', 'Gramercy',
       'Theater District', 'Tribeca', 'Battery Park City', 'Civic Center',
       'Stuyvesant Town', 'Marble Hill'], dtype=object)

<h4> How many different shared rooms are listed?</h4>

In [19]:
#Your answer
abnb[abnb['room_type']=='Shared room'].shape[0]

1160

<h4> Find all the listings of room type <font color='red'> Shared rooms</font> in <font color='red'> Manhattan</font> with a price range of <font color='red'> \$60$-$\$75</font> and that have received over <font color='red'>100 reviews</font></h4>

In [45]:
#Enter your answer here
abnb[(abnb['room_type']=='Shared room') & (abnb['neighbourhood_group']=='Manhattan')
     &(abnb['price'].isin(list(range(60,75)))) &(abnb['number_of_reviews']>100)]

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
357,357,99070,Comfortable Cozy Space in El Barrio,522065,Liz And Melissa,Manhattan,East Harlem,40.79406,-73.94102,Shared room,65,7,131,2019-05-26,1.31,2,0
2787,2787,1526741,Comfy Couch in a nice and safe apt!!,6486116,Ari,Manhattan,East Harlem,40.79004,-73.94846,Shared room,69,1,136,2019-04-04,2.13,4,103
4229,4229,2774934,Females only for midtown apt share,1866728,Jeani,Manhattan,Upper West Side,40.77024,-73.98746,Shared room,70,1,225,2019-07-07,3.53,1,262
6055,6055,4431247,1st Time/Solo/Duo Travelers!Charming Studio Sh...,22382732,Sue,Manhattan,Chelsea,40.74726,-74.00213,Shared room,70,2,126,2019-06-29,2.61,1,309
7652,7652,5763191,"BEAUTIFUL APT UPPER WEST SIDE, 68St ONLY GIRLS",29901463,Nadia,Manhattan,Upper West Side,40.77260,-73.97928,Shared room,68,3,105,2019-06-23,2.09,1,302
11038,11038,8525172,Shared Studio (NO PRIVACY) On The Upper East Side,44887928,Brianna,Manhattan,Upper East Side,40.78510,-73.95254,Shared room,62,1,104,2019-06-23,2.26,1,333
17818,17818,13971471,Nice Room in Charming Apartment,8338942,Victor,Manhattan,Nolita,40.72363,-73.99546,Shared room,70,1,228,2019-06-21,6.36,4,103
31517,31517,24539281,43rd Street “TIME SQUARE”\nSingle bed.,30985759,Taz,Manhattan,Hell's Kitchen,40.75792,-73.99172,Shared room,65,1,108,2019-06-23,7.33,6,325
35014,35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

<h4> Find the <font color='red'>minimum</font>, <font color='red'>maximum</font>, and <font color='red'>average</font> values for both <font color='red'>price</font> and <font color='red'> number of reviews</font> for the listings in each of the different neighbourhoods of Manhattan</h4>

In [136]:
#Your answer
abnb[abnb['neighbourhood_group']=='Manhattan'].groupby('neighbourhood').agg({'price':[np.min,np.mean,np.max],'number_of_reviews':[np.min,np.mean,np.max]})

                    price                    number_of_reviews
                     amin        mean   amax              amin       mean amax
neighbourhood
Battery Park City      55  367.557143   7500                 0   8.285714  205
Chelsea                12  249.738544   6800                 0  21.240791  375
Chinatown              41  161.497283   1500                 0  27.013587  318
Civic Center           50  191.942308    950                 0  12.250000  319
East Harlem            30  133.198747   9999                 0  32.628469  325
East Village           10  186.083108   3750                 0  24.106854  451
Financial District     12  225.490591   3000                 0   9.315860  285
Flatiron District      65  341.925000   2000                 0  17.737500  177
Gramercy               45  222.754438   3000                 0  22.727811  323
Greenwich Village      43  263.405612   6000                 0  16.647959  209
Harlem                 10  118.974041   5000                 0  28.578631  607
Hell's Kitchen         10  204.794178   4100                 0  25.652196  430
Inwood                 22   88.896825    359                 0  18.611111  261
Kips Bay               10  202.408511   2750                 0  12.419149  276
Little Italy           41  222.066116   5250                 0  23.132231  219
Lower East Side        29  186.312843   9999                 0  26.521405  540
Marble Hill            40   89.166667    274                 0  14.000000   85
Midtown                30  282.719094   5100                 0  12.585113  275
Morningside Heights    30  114.783237   1200                 0  13.291908  233
Murray Hill             0  220.958763   2000                 0   9.350515  321
NoHo                   75  295.717949   1795                 0  12.743590  115
Nolita                 20  230.138340   5000                 0  22.268775  244
Roosevelt Island       30  113.259740   1400                 0  15.766234  178
SoHo                   10  287.103352   3000                 0  20.209497  228
Stuyvesant Town        45  169.108108   1500                 0   8.162162  150
Theater District       40  248.013889   3000                 0  15.076389  330
Tribeca                60  490.638418   8500                 0  11.491525  447
Two Bridges            35  127.069444    320                 0  29.569444  223
Upper East Side        10  188.948276   7703                 0  17.622914  389
Upper West Side        10  210.918316  10000                 0  18.294267  401
Washington Heights     16   89.610679   1000                 0  19.088988  307
West Village           50  267.682292   4000                 0  19.381510  272

<h2><font color='red'>Challenging!!!</font></h2>

<br>

Find all the listings that have any version (upper case, lower case, mix etc.) of the following two phrases <b> Females Only</b> and <b> Comfy Couch</b> in the <font color='red'>name</font> column of the <b> abnb</b> dataframe. Display only the <b>id, name, host_name, price,</b> and <b> neighbourhood_group</b>

In [3]:
#Don't change this
pd.set_option('display.max_colwidth', -1)

In [4]:
import re

In [5]:
pattern='.*females only.*|.*comfy couch.*'

In [6]:
females_couch=[]
for index,item in zip(abnb['name'].index,abnb['name'].values):
    if re.search(pattern,str(item).lower()):
        #print('Name:{}\n Index:{}'.format(item,index))
        females_couch.append(index)

In [7]:
abnb.loc[females_couch][['id','name','host_name','price','neighbourhood_group']]

,id,name,host_name,price,neighbourhood_group
2787,1526741,Comfy Couch in a nice and safe apt!!,Ari,69,Manhattan
4229,2774934,Females only for midtown apt share,Jeani,70,Manhattan
7704,5824543,Private room for 2 (10 min to city) - Females only,Qasim,80,Bronx
13418,10057854,Room in LIC - females only please,Justyna,35,Queens
14140,10853955,"Sunny, private room; Quick to NYC. Females only.",Jennifer,50,Queens
14524,11442670,Females Only Private Room JFK 1Omin,Annett And Chuck,40,Queens
15322,12274909,Beautiful spacious bedroom BayRidge FEMALES only,Carol,35,Brooklyn
15882,12847720,"Prime location, close to everything. Females only",David,50,Manhattan
16254,13100277,"Bright, inviting room-quick to NYC, females only.",Jennifer,70,Queens
16552,13256651,Large Comfy Couch in South Prospect Park,Marie,46,Brooklyn
19392,15476467,Large Space and Comfy Couch in New Apartment,Aleisha,75,Manhattan
20719,16425205,Room for rent (females ONLY),Chioma,40,Bronx
21323,16974219,Big Room with Queen Bed&Comfy Couch,Liam,60,Queens
21813,17531493,Cute Room in Upper West Side (FEMALES ONLY),Ana,75,Manhattan
22031,17728208,Bright and Clean One Bedroom - Females Only!,Alexi,100,Manhattan
22583,18269285,Prime Midtown East Queen Bedroom-Females only,Charlotte,99,Manhattan
23326,18888585,1 bedroom in 4 BR 1 bath Apt females only,Annette,50,Brooklyn
24336,19593009,"Simple Cost-friendly Private Room, FEMALES ONLY",Amanda,29,Bronx
24634,19801310,Bedroom with Manhattan view (females only),Xinyan,60,Manhattan
24927,19979480,1 Room in Bushwick *Females only*,Brooke,32,Brooklyn
25948,20724115,*FEMALES ONLY* BEAUTIFUL ROOM in downtown NYC!,Michela,80,Manhattan
26135,20844580,"Pretty 1 bedroom apt, Williamsburg/ Females only",Michelle,55,Brooklyn
27902,21844040,Comfy Couch in Cool Modern Brooklyn (BUSHWICK) Apt,Lauren,43,Brooklyn
28388,22048265,Luxurious Brooklyn Getaway - Comfy Couch & Sofabed,Joycelyn,29,Brooklyn
28425,22065495,Huge bedroom in a renovated apt (females only!),Eliana,65,Manhattan
29020,22328689,Private room in GREENPOINT(hosting females only),Lina,95,Brooklyn
29520,22658582,Comfy couch in Manhattan!,Sofia,30,Manhattan
30313,23433996,Spacious Room Close to Manhattan (Females Only),Bettina,100,Queens
31064,24105281,Clean Private room in Manhattan(females only),Aki,90,Manhattan
31095,24133060,A futon in a beautiful studio for females only,Maryam,30,Manhattan
31701,24715968,Clean comfy couch -2 blocks from train station,Briane,60,Brooklyn
32269,25237818,East Harlem Room Available (Females Only),Faith,50,Manhattan
38664,30378211,Shared Studio (females only),Meg,110,Manhattan
39674,30886242,Spacious and Bright bedroom (females only!),Eliana,52,Manhattan
40368,31303661,New York Safe Haven (Females Only),Melanie,39,Manhattan
42293,32822356,Manhattan Lifestyle by Melanie (Females Only),Melanie,53,Manhattan
42880,33291866,Angela's Sweet Suite (Shared-Females Only),Angela,35,Manhattan
43204,33514118,Close to city in trendy Queens! Females only,Linda,38,Queens
44479,34255183,2 Bedrooms and a Comfy Couch On Washington,Cathleen,100,Brooklyn